<div class="side-menu-douceur">
  <img src="../images/ico-menu.gif" alt="menu" id="gif-menu-douceur">
  <a href="#topofmiels"><h4>Nos produits douceur:</h4></a>
  <ul>
    <li><a class="menu-left-link" href="#section1" aria-expanded="false" aria-controls="section">Bonbons.</a></li>
    <li><a class="menu-left-link" href="#section2" aria-expanded="false" aria-controls="section">Pastilles.</a></li>
    <li><a class="menu-left-link" href="#section3" aria-expanded="false" aria-controls="section">Gommes.</a></li>
    <li><a class="menu-left-link" href="#section4" aria-expanded="false" aria-controls="section">Pains d'épice.</a></li>
  </ul>
</div>

<div id="topofmiels"></div>

  <div class="container">

    <div class="main-miels">
      <div class="intro-sante" >
        <h3>Douceurs.</h3>
        <p></p>
      </div>
    </div>

    <div  id="section1">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Les bonbons.</h2>
        <div class="section-miels">
          <div class="section-up">
              <%= image_tag "bonbon250g.jpg", alt: "bonbons au miel" %>
              <p>Ajouter une description</p>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section2">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Les pastilles.</h2>
        <div class="section-miels">
          <div class="section-up">
          <%= image_tag "bonbon250g.jpg", alt: "bonbons au miel" %>
          <p>Photo / Ajouter une description</p>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section3">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Les gommes.</h2>
        <div class="section-miels">
          <div class="section-up">
          <%= image_tag "miel-fdb4.jpg", alt: "miel toutes fleurs des bois" %>
          <p>Photo / description</p>
          </div>
          <div class="section-bottom">
             <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section4">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Le pain d'épice.</h2>
        <div class="section-miels">
          <div class="section-up">
          <%= image_tag "miel-fdb4.jpg", alt: "miel toutes fleurs des bois" %>
          <p>Photo / description</p>
          </div>
          <div class="section-bottom">
             <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>



  </div><!-- fin container -->



