<div id="topofmiels"></div>
<div class="cdrfbox-miel">
  <div class="container">

    <div  id="section1">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Les bonbons.</h2>
        <div class="section-miels">
          <div class="section-up">
              <%= image_tag "bonbon250g.jpg", alt: "bonbons au miel" %>
              <p>Ajouter une description</p>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section2">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Les pastilles.</h2>
        <div class="section-miels">
          <div class="section-up">
          <%= image_tag "bonbon250g.jpg", alt: "bonbons au miel" %>
          <p>Photo / Ajouter une description</p>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section3">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Les gommes.</h2>
        <div class="section-miels">
          <div class="section-up">
          <%= image_tag "miel-fdb4.jpg", alt: "miel toutes fleurs des bois" %>
          <p>Photo / description</p>
          </div>
          <div class="section-bottom">
             <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section3">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Le pain d'épice.</h2>
        <div class="section-miels">
          <div class="section-up">
          <%= image_tag "miel-fdb4.jpg", alt: "miel toutes fleurs des bois" %>
          <p>Photo / description</p>
          </div>
          <div class="section-bottom">
             <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>



  </div><!-- fin container -->
</div><!-- fin cdrfbox-miel -->


