
<div class="side-menu">
  <img src="../images/ico-menu.gif" alt="menu" id="gif-menu">
  <a href="#topofmiels"><h4>Nos variétés de miels :</h4></a>
  <ul>
    <li><a class="menu-left-link" href="#section1" aria-expanded="false" aria-controls="section">Acacia.</a></li>
    <li><a class="menu-left-link" href="#section2" aria-expanded="false" aria-controls="section">Toutes Fleurs des Champs.</a></li>
    <li><a class="menu-left-link" href="#section3" aria-expanded="false" aria-controls="section">Toutes Fleurs des Bois.</a></li>
    <li><a class="menu-left-link" href="#section4" aria-expanded="false" aria-controls="section">Bruyère.</a></li>
    <li><a class="menu-left-link" href="#section5" aria-expanded="false" aria-controls="section">Bourdaine.</a></li>
    <li><a class="menu-left-link" href="#section6" aria-expanded="false" aria-controls="section">Chataignier.</a></li>
    <li><a class="menu-left-link" href="#section7" aria-expanded="false" aria-controls="section">Acacia Vanille Bio</a></li>
  </ul>
</div>

<div id="topofmiels"></div>
  <div class="container">

    <div class="main-miels">
      <div class="intro-sante" >
        <h3>LES MIELS DES HAUTS DE GIRONDE</h3>
        <p></p>
      </div>
    </div>

    <div  id="section1">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Miel d'Acacia.</h2>
        <div class="section-miels">
          <div class="section-up">
            <div class="section-up-left">
              <%= image_tag "miel-acacia250.jpg", alt: "miel acacia" %>
            </div>
            <div class="section-up-right">
              <p>Miel doux, liquide, clair. Accompagne les yaourts, les fromages blancs et les céréales du petit déjeuner. Succulent avec des fraises, idéal pour les enfants.</p>
            </div>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div  id="section2">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Miel toutes fleurs des champs.</h2>
        <div class="section-miels">
          <div class="section-up">
            <div class="section-up-left">
              <%= image_tag "miel-fdc4.jpg", alt: "miel toutes fleurs des champs" %>
            </div>
            <div class="section-up-right">
            <p>Miel assez doux, fruité, un miel butiné sur les mille fleurs de l'été. Il se déguste à la cuillère et se marie parfaitement avec des pommes et des fruis secs.</p>
            </div>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>


    <div  id="section3">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Miel toutes fleurs des bois.</h2>
        <div class="section-miels">
          <div class="section-up">
            <div class="section-up-left">
              <%= image_tag "miel-fdc4.jpg", alt: "Miel toutes fleurs des bois." %>
            </div>
            <div class="section-up-right">
            <p>Miel au goût prononcé. Il provient des arbres et des fleurs de la forêt : ronces, bruyère, bourdaine, châtaignier, ajonc, genêt etc... Il se déguste dans des infusions et accompagne idéalement le fromage de chèvre.</p>
            </div>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div  id="section4">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Miel de Bruyère.</h2>
        <div class="section-miels">
          <div class="section-up">
            <div class="section-up-left">
              <%= image_tag "miel-bruyère.jpg", alt: "miel de bruyère" %>
            </div>
            <div class="section-up-right">
              <p>Miel brun clair au goût sauvage, récolté dans les sous bois. Savoureux avec des pommes ou les céréales du petit déjeuner.</p>
            </div>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div  id="section5">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Miel de Bourdaine.</h2>
        <div class="section-miels">
          <div class="section-up">
            <div class="section-up-left">
              <%= image_tag "miel-bourdaine4.jpg", alt: "miel de bourdaine" %>
            </div>
            <div class="section-up-right">
              <p>Miel liquide et brun clair, récolté dans les sous bois. La floraison à lieux de mai à juillet. Se déguste à la cuillère, dans du lait chaud ou des tisanes et parfume les plats salés.</p>
            </div>
          </div>
          <div class="section-bottom">
            <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>


    <div id="section6">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Miel de Chataigner.</h2>
        <div class="section-miels">
          <div class="section-up">
            <div class="section-up-left">
              <%= image_tag "miel-chataign250.jpg", alt: "miel de chataigner" %>
            </div>
            <div class="section-up-right">
              <p>Miel très foncé, récolté en juillet, à la saveur âcre très particulière. Il se déguste nature ou sur des tartines grillées et est recommandé pour la cuisine.</p>
            </div>
          </div>
          <div class="section-bottom">
             <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
            <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div id="section7">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <h2>Acacia Vanille Bio</h2>
          <div class="section-miels">
            <div class="section-up">
              <div class="section-up-left">
                <%= image_tag "miel-van-bio.jpg", alt: "Miel acacia vanille bio" %>
              </div>
              <div class="section-up-right">
                <p>Notre miel d'Acacia Vanille Bio... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate repudiandae esse quaerat a nulla, qui consectetur voluptate officiis omnis voluptatibus beatae doloremque eveniet eum atque amet est voluptates tempora at.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>

            </div>
          <div class="section-bottom">
             <%= image_tag "etiket250.png", alt: "miel 250g", height:50 %>
          <%= image_tag "etiket500.png", alt: "miel 250g", height:50 %>
          </div>
        </div>
      </div>
    </div>

    <div class="ballotins-links">
      <div class="main-miels">
        <a href="ballotins.html"><h5>Voir aussi nos ballotins !</h5></a>
      </div>
    </div>

  </div><!-- fin container -->



